<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav my-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/days">Add Days</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

