<div class="container">
    <h2 class="text-center">Add available days</h2>

    <ng-template #modalContent let-close="close">
        <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
        </div>
    </ng-template>
    
    <div class="row text-center">
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    </div>
    <br>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
    </div>
    
    <br>

    <input placeholder="Name" class="form-control" #nameBox><br>
    <button
        class="btn btn-primary"
        (click)="addDates(nameBox.value); nameBox.value = ''">
            Add dates
    </button>
    
    <!--<div *ngIf="nameBox.invalid && (nameBox.dirty || nameBox.touched)"
        class="alert alert-danger">

        <div *ngIf="nameBox.errors.required">
            Name is required.
        </div>
        <div *ngIf="nameBox.errors.minlength">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="nameBox.errors.forbiddenName">
            Name cannot be Bob.
        </div>
    </div>-->
    <div class="clearfix"></div>
    <br>
</div>